<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Doctor Registration</title>
</head>
<body>
	<header>
		<h1>Doctor Registration form</h1>
	</header>

	<main>
		<form method="post" action="register-doctor">
			<label for="fname">First name: </label>
			<input id="fname" type="text" name="first-name" placeholder="First Name" required/>
			<br>
			
			<label for="lname">Last name: </label>
			<input id="lname" type="text" name="last-name" placeholder="Last Name" required/>
			<br>
			
			<label for="mail">Email: </label>
			<input id="mail" type="email" name="e-mail" placeholder="Email" required/>
			<br>
			
			<label for="pw">Password: </label>
			<input id="pw" type="password" name="password" placeholder="Password" required/>
			<span>	</span>
			<input type="password" name="confirm-password" placeholder="Confirm Password" required/>
			<br>
			
			<label for="special">Select your specialty: </label>
			<input id="special" list="options" name="specialty">
			<datalist id="options">
			  <option value="Cardiology" />
			  <option value="Neurology" />
			  <option value="Ear, Nose, Throat" />
			  <option value="Anesthesiology" />
			  <option value="Pediatrics" />
			  <option value="Orthopaedics" />
			</datalist>
			<br>
			
			<input type="submit" value="REGISTER" />
			
		</form>
	</main>

</body>
</html>